Cloud/flows.json
[{"id":"b085da1c.795e78","type":"tab","label":"MainFlow","disabled":false,"info":""},{"id":"a72faab7.bfa548","type":"ui_base","z":0,"theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e4889946.96a828","type":"ui_group","z":0,"name":"rakyildizi","tab":"9d8d1c38.622b2","disp":true,"width":"6","collapse":false},{"id":"73b26672.3bf628","type":"ui_group","z":0,"name":"se","tab":"9d8d1c38.622b2","disp":true,"width":"6","collapse":false},{"id":"9d8d1c38.622b2","type":"ui_tab","z":0,"name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"b96a2c7f.5cab9","type":"ui_group","z":"","name":"Overview","tab":"9d8d1c38.622b2","disp":true,"width":"12","collapse":false},{"id":"914d6139.89229","type":"http in","z":"b085da1c.795e78","name":"","url":"/getRoomData","method":"get","upload":false,"swaggerDoc":"","x":152,"y":277,"wires":[["b01f4105.99543"]]},{"id":"d6af0b96.5a4dd8","type":"http response","z":"b085da1c.795e78","name":"Send Current Room (JSON)","statusCode":"","headers":{"content-type":"application/json"},"x":762,"y":278,"wires":[]},{"id":"908ec724.1a3bd8","type":"ibmiot in","z":"b085da1c.795e78","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"counter","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":82,"y":532,"wires":[["1637e82.3fc2518","87234151.4ef17","4825610.d5a7da","844c03d0.97e94","b18cae0c.ce97a","48c1e306.cd269c","3fa085c1.8ca60a"]]},{"id":"1637e82.3fc2518","type":"function","z":"b085da1c.795e78","name":"GlobalStorage","func":"var t = msg.payload.d.Temperature;\nvar h = msg.payload.d.Humidity;\nvar c = msg.payload.d.Count;\nvar d = Date.now();\nglobal.set('Date', d);\nif(t<100 && t>0){\n    global.set('Temperature', t);\n}\nif(h>0 && h<100){\n    global.set('Humidity', h);\n}\nif(c>=0 && c<100){\n    global.set('Count', c);    \n}\n(function calcOverallScore(){\n    var gT = global.get('Temperature');\n    var gH = global.get('Humidity');\n    var gC = global.get('Count');\n    var eT = Math.abs(gT-25);\n    var eH = Math.abs(gH-10);\n    var eC = gC;\n    var eTotal = eT + eH + eC;\n    var score = 255 - 1.5*eTotal;\n    global.set('Score', score);\n    var lastDoc = {\n        'Temperature': gT,\n        'Humidity': gH,\n        'Count': gC,\n        'Score': score,\n        'Date': d\n    };\n    global.set('lastDoc', lastDoc);\n})()\n\n","outputs":1,"noerr":0,"x":334,"y":404,"wires":[[]]},{"id":"b01f4105.99543","type":"function","z":"b085da1c.795e78","name":"Convertor","func":"var T = global.get('Temperature');\nvar H = global.get('Humidity');\nvar C = global.get('Count');\nvar S = global.get('Score');\nvar D = global.get('Date');\nmsg.payload = {\n    'Temperature': T,\n    'Humidity': H,\n    'Count': C,\n    'Score': S,\n    'Date': D\n};\nreturn msg;","outputs":1,"noerr":0,"x":424,"y":277,"wires":[["d6af0b96.5a4dd8"]]},{"id":"3fa085c1.8ca60a","type":"debug","z":"b085da1c.795e78","name":"DEBUG","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":615,"y":391,"wires":[]},{"id":"87234151.4ef17","type":"function","z":"b085da1c.795e78","name":"Temperature","func":"msg.payload = global.get('Temperature');\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":500,"wires":[["dd71bebb.a1e44"]]},{"id":"844c03d0.97e94","type":"function","z":"b085da1c.795e78","name":"Count","func":"msg.payload = global.get('Count');\nreturn msg;","outputs":1,"noerr":0,"x":331,"y":596,"wires":[["c23ba9fb.985278"]]},{"id":"4825610.d5a7da","type":"function","z":"b085da1c.795e78","name":"Humidity","func":"msg.payload = global.get('Humidity');\nreturn msg;","outputs":1,"noerr":0,"x":339,"y":548,"wires":[["724eb9d5.c4e198"]]},{"id":"dd71bebb.a1e44","type":"ui_gauge","z":"b085da1c.795e78","name":"","group":"b96a2c7f.5cab9","order":0,"width":"6","height":"6","gtype":"gage","title":"Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"36","x":581,"y":500,"wires":[]},{"id":"724eb9d5.c4e198","type":"ui_gauge","z":"b085da1c.795e78","name":"","group":"b96a2c7f.5cab9","order":0,"width":"6","height":"6","gtype":"wave","title":"Hum","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":548,"wires":[]},{"id":"17e5e7ac.558838","type":"inject","z":"b085da1c.795e78","name":"Injector","topic":"","payload":"{\"d\":{\"Temperature\":25,\"Humidity\":20,\"Count\":25}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":81,"y":380,"wires":[["1637e82.3fc2518","87234151.4ef17","4825610.d5a7da","844c03d0.97e94","48c1e306.cd269c","b18cae0c.ce97a"]]},{"id":"30eface6.bc9b14","type":"cloudant out","z":"b085da1c.795e78","name":"DatabaseBruh","cloudant":"","database":"doc_history","service":"Rakyildizi-cloudantNoSQLDB","payonly":false,"operation":"insert","x":719,"y":684,"wires":[]},{"id":"b18cae0c.ce97a","type":"trigger","z":"b085da1c.795e78","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"5","extend":false,"units":"min","reset":"","bytopic":"all","name":"DataSaver","x":349,"y":703,"wires":[["ec3df7c9.9c06f8"]]},{"id":"7e99630b.72010c","type":"http in","z":"b085da1c.795e78","name":"Past Data Request","url":"/getPastData","method":"get","upload":false,"swaggerDoc":"","x":152,"y":194,"wires":[["c578b673.c0a078"]]},{"id":"26733a21.692a96","type":"http response","z":"b085da1c.795e78","name":"Send Past Data (JSON)","statusCode":"","headers":{},"x":749,"y":193,"wires":[]},{"id":"c578b673.c0a078","type":"cloudant in","z":"b085da1c.795e78","name":"Get Past Docs","cloudant":"","database":"doc_history","service":"Rakyildizi-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":452,"y":192,"wires":[["26733a21.692a96"]]},{"id":"ec3df7c9.9c06f8","type":"function","z":"b085da1c.795e78","name":"last doc","func":"msg.payload = global.get('lastDoc');\nreturn msg;","outputs":1,"noerr":0,"x":528,"y":697,"wires":[["30eface6.bc9b14"]]},{"id":"4be91286.42df5c","type":"ui_text","z":"b085da1c.795e78","group":"e4889946.96a828","order":0,"width":"6","height":"3","name":"","label":"Score","format":"{{msg.payload}}","layout":"row-center","x":531,"y":637,"wires":[],"l":false},{"id":"48c1e306.cd269c","type":"function","z":"b085da1c.795e78","name":"Score","func":"msg.payload = (global.get('Score')*100/255).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":333,"y":643,"wires":[["4be91286.42df5c"]]},{"id":"c23ba9fb.985278","type":"ui_text","z":"b085da1c.795e78","group":"e4889946.96a828","order":1,"width":"6","height":"3","name":"","label":"People","format":"{{msg.payload}}","layout":"row-center","x":529,"y":594,"wires":[],"l":false}]
